.section-events, .section-event, .section-post {
    background: #eee;

    .action-date {
        color: #a6a6a6;
    }
    .card {


        .title {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .subtitle {
            margin-bottom: 0;
        }
        .icon-time, .icon-location {
            font-size: 30px;
            margin-left: -8px;
            vertical-align: middle;
            color: #a6a6a6;
        }
        .attend-link, .comment-link {
            position: relative;
            color: $pink;


            &:before {
                content: '';
                background: #eee;
                width: 1px;
                height: 40px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            text-align: center;
            &.active {
                background: $pink;
                color: #fff;
            }
            .icon {
                margin-top: 15px;
                font-size: 30px;
            }
        }

        .action {
            font-size: 13px;
            overflow: visible !important;
            white-space: normal !important;
        }
        .comment-link {
            .icon {
                margin-top: 10px;
            }
        }

        .comment-label {
            position: relative;
            top: 5px;
            color: $pink;
            font-weight: 600;
            display: inline-block;
            vertical-align: middle;

            .icon {

                height: 24px;
                font-size: 20px;
                vertical-align: middle;
            }
        }

        .comment-label {
            color: #3d3d3d;
            margin-right: 10px;
        }

    }
    .card.time-location {
        p {
            margin: 0;
            font-weight: 700;
        }
        hr {
            margin: 3px 0;
        }
    }
}
.section-post {
    .card .title {
        font-size: 13px;
    }
}