<ion-view view-title="Events">
    <ion-content class="padding">
        <h1>Events</h1>
        <div class="list card" ng-repeat="event in events">

            <a hre="#" class="item item-avatar" ng-click="goToEvent(event.id)">
                <img ng-src="{{event.avatar}}">
                <h2>{{event.title}}</h2>
                <p>{{event.description}}</p>
            </a>

            <div class="item item-image">
                <img ng-src="{{event.image}}">
            </div>

            <a class="item item-icon-left assertive" ng-click="attend(event.id)">
                <i class="icon ion-music-note"></i>
                Attend
            </a>

        </div>
    </ion-content>
</ion-view>
