<ion-view view-title="Events" class="section section-events">
    <ion-content class="padding">
        <div class="list card" ng-repeat="event in events">
            <div class="row">
                <div class="col">
                    <a ng-click="goToEvent(event._id)">

                        <h2 class="title">{{event.title}}</h2>
                        <p class="subtitle">
                            <i class="icon icon-time"></i>{{event.startDate | eventFormatDate : event.startDate}}

                        </p>
                        <p ng-if="event.location" class="sub-subtitle">
                            <i class="icon icon-location"></i>{{event.location}}
                        </p>
                    </a>
                </div>
            </div>

            <div class="item-image" ng-click="goToEvent(event._id)">
                <img src="{{event.image | fixeServerImages}}">
            </div>

            <div class="row no-padding">
                <div class="col-75 padding">
                    <b>{{event.attending.length}} members</b> attending <br/>
                    <b>{{event.points}} points</b> /  check-in
                </div>
                <a class="col-25 attend-link" ng-click="attend(event)" ng-class="{active: isAttending(event)}">
                    <i class="icon icon-attend" ></i>
                </a>
            </div>

        </div>
        <h1 ng-if="!events.length" class="text-center">There are no Events</h1>
    </ion-content>
</ion-view>
