

<div class="list card comments no-padding">
    <div class="row">
        <div class="col">

                <p><b>Members Say</b></p>
                <p>{{event.description}}</p>
                <div class="item item-avatar"  ng-repeat="comment in comments">
                    <img ng-src="{{comment.avatar}}">
                    <a class="comment-title" ng-click="goToUser(comment.user)">
                        <b>{{comment.userName}}</b>
                        <span class="comment-date">- {{comment.date | timeDifference}}h ago</span>
                        <p class="comment-text">
                            {{comment.message}}
                        </p>
                    </a>
                </div>

        </div>
    </div>

    <form name="commentForm" class="item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Say something nice..." ng-model="newMessage">
        </label>
        <button type="submit" ng-click="submit(newMessage)" class="button button-pink button-small">
            Send
        </button>
    </form>

</div>