<ion-view view-title="Feeds" class="section section-newsfeed">

    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon icon-hamburger"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon icon-plus" ng-click="openModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="item item-avatar"  ng-repeat="feed in feeds |  filter: categoryType">
            <img ng-src="{{feed.user.avatar}}">
            <a ng-click="goToUser(feed.user.id)" class="title">
                <b>{{feed.user.name}}</b>
                <span class="action-label" ng-if="feed.action.type !== 'event'">{{feed.action.label}}</span>
                <span class="action-label" ng-if="feed.action.type === 'event'">is attending</span>
            </a>
            <p class="action">
                <span class="action-input" ng-if="feed.action.type !== 'event'">{{feed.action.input}}</span>
                <span class="action-input" ng-if="feed.action.type === 'event'">{{feed.action.title}}</span>
                <span class="action-date">- {{feed.date | timeDifference}}h ago</span>
            </p>
            <a class="event-link" ng-click="goToEvent(feed.action.id)" ng-if="feed.action.type === 'event'">
                <i class="icon icon-event_details"></i> See Event Details
            </a>
        </div>

    </ion-content>

</ion-view>
