<ion-view view-title="Feeds" class="section section-feeds">

    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon icon-hamburger"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon icon-plus" ng-click="openModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="item item-avatar {{feed.category}}"  ng-repeat="feed in feeds |  filter: categoryType">
            <img src="{{feed.user.avatar}}" ng-if="feed.category !== 'announcement'">
            <div ng-if="feed.category !== 'announcement'" class="not-announcement">

                <img class="item-icon" ng-if="feed.category === 'activity'" ng-src="{{feed.action.image | fixeServerImages}}">
                <img class="item-icon" ng-if="feed.category === 'event'" src="img/activities/event.svg">
                <a ng-click="goToUser(feed.user._id)" class="title">
                    <b>{{feed.user.name}}</b>

                </a>
                <p class="action">
                    <span class="action-label">{{feed.action.label}}</span>
                    <span class="action-input" ng-if="feed.category !== 'event'">{{feed.action.input}}</span>
                    <span class="action-input" ng-if="feed.category === 'event'">{{feed.action.title}}</span>
                    <span class="action-date">- {{feed.date | timeDifference}}h ago</span>
                </p>
                <a class="event-link" ng-click="goToEvent(feed.action.id)" ng-if="feed.category === 'event'">
                    <i class="icon icon-event_details"></i> See Event Details
                </a>
                <p ng-if="feed.category === 'post'">
                    <a class="post-link" ng-click="goToPost(feed.action.id)" >
                        <i class="icon icon-comment"></i> Leave a Comment
                    </a>
                </p>
            </div>
            <div ng-if="feed.category === 'announcement'" class="announcement">
                <div class="logo-alt"></div>
                <p class="action">
                    <span class="action-input">{{feed.action.title}}</span>
                    <span class="action-date">just now</span>
                </p>
            </div>

        </div>

    </ion-content>

</ion-view>
