<ion-view view-title="Ranking" class="section section-ranking">
	<ion-content class="padding">
		<div class="card top-card">
		  <div class="item item-text-wrap">
			<div class="row">
				<div class="col-33"><i class="icon icon-cup pull-left"></i></div>
				<div class="col-67">
                    <p class="subtitle">This Month’s Prize</p>
                    <h1 class="title">2 Tickets to Munchen</h1>
                </div>
			</div>
		  </div>
		</div>

		<div class="list">
			<a ng-class="{active: ($index === 2)}" class="item item-icon-left" href="#" ng-click="goToUser(user.id)" ng-repeat="user in users">
				<i class="icon icon-cup gold" ng-if="$index === 0"></i>
				<i class="icon icon-cup silver" ng-if="$index === 1"></i>
				<i class="icon icon-cup bronze" ng-if="$index === 2"></i>
				<span class="index" ng-if="$index > 2">{{$index + 1}}</span>
				<b class="name">{{user.name}}</b>
				<span class="points">{{user.points}} points</span>

			</a>
		</div>
	</ion-content>
</ion-view>
